---
import type { CollectionEntry } from "astro:content";
import Pagination from "@/components/Paginator.astro";
import { getAllPosts, getUniqueTags, groupPostsByYear, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import type { GetStaticPaths, Page } from "astro";
import ArticlePreview from "@/components/ArticlePreview.astro";

export const getStaticPaths = (async ({ paginate }) => {
	const MAX_POSTS_PER_PAGE = 10;
	const allPosts = await getAllPosts();
	const allPostsByDate = sortMDByDate(allPosts);
	const uniqueTags = getUniqueTags(allPosts);
	return paginate(allPostsByDate, { pageSize: MAX_POSTS_PER_PAGE, props: { uniqueTags } });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"post">>;
	uniqueTags: string[];
}

const { page } = Astro.props;

const meta = {
	description: "Read my collection of posts and the things that interest me",
	title: "Posts",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: "← Previous Page",
			url: page.url.prev,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			text: "Next Page →",
			url: page.url.next,
		},
	}),
};

const groupedByYear = groupPostsByYear(page.data);
const descYearKeys = Object.keys(groupedByYear).sort((a, b) => +b - +a);
---

<PageLayout meta={meta}>
	<div class="posts">
		<h1 class="posts__title">Posts</h1>
		<section aria-label="Blog post list">
			{
				descYearKeys.map((yearKey) => (
					<>
						<h2 class="posts__year">{yearKey}</h2>
						<ul class="posts__list">
							{groupedByYear[yearKey]?.map((p) => (
								<li class="">
									<ArticlePreview post={p} />
								</li>
							))}
						</ul>
					</>
				))
			}
			<Pagination {...paginationProps} />
		</section>
	</div>
</PageLayout>

<style>
	.posts {
		margin-block-start: var(--spacing-08);

		.posts__title {
			margin-block: var(--spacing-03);
		}

		.posts__year {
			color: var(--text-secondary);
			font: italic var(--font-weight-06) var(--font-size-06) / var(--font-line-height-04)
				var(--font-serif);
		}

		.posts__list {
			list-style: none;
			padding: var(--spacing-04) 0;
		}
	}
</style>
