@layer tokens {
	:root {
		/* This has to be set to switch between light or dark */
		color-scheme: light dark;

		/* Rose pine colors */
		--color-moon-base: oklch(26.04% 0.039 287.73);
		--color-moon-surface: oklch(28.75% 0.0435 289.09);
		--color-moon-overlay: oklch(34.63% 0.0502 289.83);
		--color-moon-muted: oklch(53.83% 0.0435 291.41);
		--color-moon-subtle: oklch(65.39% 0.0444 291.23);
		--color-moon-text: oklch(90.88% 0.0299 289.97);
		--color-moon-love: oklch(69.77% 0.1565 4.22);
		--color-moon-gold: oklch(84.29% 0.11 74.6);
		--color-moon-rose: oklch(76.51% 0.0967 21.92);
		--color-moon-pine: oklch(61.38% 0.0926 228);
		--color-moon-foam: oklch(82.19% 0.0543 209.56);
		--color-moon-iris: oklch(77.6% 0.0945 304.99);
		--color-moon-highlight-low: oklch(28.94% 0.0398 287.8);
		--color-moon-highlight-med: oklch(38.87% 0.0421 289.79);
		--color-moon-highlight-high: oklch(45.35% 0.0454 291.02);

		--color-dawn-base: oklch(96.99% 0.0113 71.9);
		--color-dawn-surface: oklch(98.7% 0.0107 76.6);
		--color-dawn-overlay: oklch(93.89% 0.0145 64.34);
		--color-dawn-muted: oklch(67.34% 0.0268 298.37);
		--color-dawn-subtle: oklch(57.68% 0.0458 291);
		--color-dawn-text: oklch(45.97% 0.0629 289.56);
		--color-dawn-love: oklch(59.89% 0.1071 2.66);
		--color-dawn-gold: oklch(75.55% 0.1459 69.74);
		--color-dawn-rose: oklch(69.57% 0.1058 23.03);
		--color-dawn-pine: oklch(49.09% 0.077 228);
		--color-dawn-foam: oklch(62.89% 0.0661 210.12);
		--color-dawn-iris: oklch(61.71% 0.0738 305.7);
		--color-dawn-highlight-low: oklch(95.02% 0.0101 58.21);
		--color-dawn-highlight-med: oklch(89.2% 0.0057 31.06);
		--color-dawn-highlight-high: oklch(84.31% 0.006 334);

		--color-base: light-dark(var(--color-dawn-base), var(--color-moon-base));
		--color-surface: light-dark(var(--color-dawn-surface), var(--color-moon-surface));
		--color-overlay: light-dark(var(--color-dawn-overlay), var(--color-moon-overlay));
		--color-muted: light-dark(var(--color-dawn-muted), var(--color-moon-muted));
		--color-subtle: light-dark(var(--color-dawn-subtle), var(--color-moon-subtle));
		--color-text: light-dark(var(--color-dawn-text), var(--color-moon-text));
		--color-love: light-dark(var(--color-dawn-love), var(--color-moon-love));
		--color-gold: light-dark(var(--color-dawn-gold), var(--color-moon-gold));
		--color-rose: light-dark(var(--color-dawn-rose), var(--color-moon-rose));
		--color-pine: light-dark(var(--color-dawn-pine), var(--color-moon-pine));
		--color-foam: light-dark(var(--color-dawn-foam), var(--color-moon-foam));
		--color-iris: light-dark(var(--color-dawn-iris), var(--color-moon-iris));
		--color-highlight-low: light-dark(
			var(--color-dawn-highlight-low),
			var(--color-moon-highlight-low)
		);
		--color-highlight-med: light-dark(
			var(--color-dawn-highlight-med),
			var(--color-moon-highlight-med)
		);
		--color-highlight-high: light-dark(
			var(--color-dawn-highlight-high),
			var(--color-moon-highlight-high)
		);

		/* Semantic colors */
		--background-primary: var(--color-base);
		--text-primary: var(--color-text);

		/* Code colors */
		--astro-code-foreground: var(--color-text);
		--astro-code-background: var(--color-surface);
		--astro-code-token-constant: var(--color-gold);
		--astro-code-token-string: var(--color-gold);
		--astro-code-token-comment: var(--color-subtle);
		--astro-code-token-keyword: var(--color-foam);
		--astro-code-token-parameter: var(--color-iris);
		--astro-code-token-function: var(--color-rose);
		--astro-code-token-string-expression: var(--color-pine);
		--astro-code-token-punctuation: var(--color-muted);
		--astro-code-token-link: var(--color-iris);
		--astro-code-token-inserted: var(--color-foam);
		--astro-code-token-deleted: var(--color-love);
		--astro-code-token-changed: var(--color-rose);

		/* Focus ring */
		--focus-ring: color-mix(in oklch, var(--color-foam), transparent 20%);
		--selection: color-mix(in oklch, var(--color-muted), transparent 20%);

		/* Fonts */
		--font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
			Segoe UI Symbol, "Noto Color Emoji";
		--font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
			Courier New, monospace;
		--font-family-display: "Pier Sans", var(--font-family);

		--font-weight-bold: 700;
		--font-weight-medium: 500;
		--font-weight-light: 400;

		--typography-display-01-desktop: normal var(--font-weight-bold) 6rem/1
			var(--font-family-display);
		--typography-display-01-mobile: normal var(--font-weight-bold) 3rem/1 var(--font-family-display);

		--typography-body-01: normal var(--font-weight-light) 1rem/1.5rem var(--font-family);
		--typography-supporting-01: normal var(--font-weight-light) 1.25rem/1.75rem var(--font-family);

		/* Spacing */
		--spacing-px-01: 4px;
		--spacing-px-02: 8px;
		--spacing-px-03: 16px;
		--spacing-px-04: 24px;
		--spacing-px-05: 32px;
		--spacing-px-055: 40px;
		--spacing-px-06: 48px;
		--spacing-px-07: 56px;
		--spacing-px-08: 64px;
		--spacing-px-09: 80px;
		--spacing-px-10: 96px;

		--spacing-01: 0.25rem;
		--spacing-02: 0.5rem;
		--spacing-03: 1rem;
		--spacing-04: 1.5rem;
		--spacing-05: 2rem;
		--spacing-055: 2.5rem;
		--spacing-06: 3rem;
		--spacing-07: 3.5rem;
		--spacing-08: 4rem;
		--spacing-09: 5rem;
		--spacing-10: 6rem;

		/* Layout */
		--container-max-width: 72rem;
		--container-breakout: 18rem;
		--stack-spacing: 1em;
	}
}
