---
import { Icon } from "astro-icon/components";

import { socialLinks } from "@/site-config";
---

<div class="container">
	<footer class="footer">
		{
			socialLinks.map((link) => (
				<a href={link.href} class="footer__social-link">
					<span class="sr-only">{link.title}</span>
					<Icon name={link.icon} />
				</a>
			))
		}
	</footer>
</div>

<style>
	.footer {
		display: flex;
		align-items: center;
		justify-content: end;
		gap: var(--spacing-04);
		padding: var(--spacing-04) 0;

		.footer__social-link {
			color: var(--text-primary);
			display: inline-block;
			border-radius: var(--radius-02);
			padding: var(--spacing-02);

			&:hover,
			&:focus-visible {
				background: var(--menu-link-background);
			}

			@media (prefers-reduced-motion: no-preference) {
				transition:
					background,
					outline-offset 150ms ease;
			}

			[data-icon] {
				width: 24px;
				height: 24px;
				fill: var(--text-primary);
			}
		}
	}
</style>
