---
import { menuLinks } from "@/site-config";
import ThemeToggle from "../ThemeToggle.astro";
import Logo from "../Logo.astro";
import { Icon } from "astro-icon/components";

function isCurrentPage(url: string) {
	return Astro.url.pathname.replace(/(\/.*?)\/$/, "$1") === url;
}
---

<div class="container sticky">
	<header id="main-header" class="main-header">
		<a
			class="logo"
			href={isCurrentPage("/") ? "#" : "/"}
			aria-current={isCurrentPage("/") ? "page" : undefined}
		>
			<span class="sr-only">Alexandru Bereghici</span>
			<Logo />
		</a>
		<nav aria-label="Main" class="mobile-nav">
			<ThemeToggle />
			<details class="mobile-nav__menu">
				<summary class="mobile-nav__toggle">
					<Icon name="close" class="mobile-nav__icon--close" />
					<Icon name="menu" class="mobile-nav__icon--open" />
				</summary>
				<div class="mobile-nav__menu-content">
					<ul role="list" class="mobile-nav__menu-list">
						{
							menuLinks.map((link) => (
								<li>
									<a
										class="mobile-nav__menu-link"
										aria-current={isCurrentPage(link.path) ? "page" : undefined}
										data-astro-prefetch
										href={link.path}
									>
										<span>{link.title}</span>
										<Icon name="arrow-right" />
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</details>
		</nav>
		<nav aria-label="Main" class="desktop-nav">
			<ul role="list" class="desktop-nav__menu">
				{
					menuLinks.map((link) => (
						<li>
							<a
								class="desktop-nav__menu-link"
								aria-current={isCurrentPage(link.path) ? "page" : undefined}
								data-astro-prefetch
								href={link.path}
							>
								{link.title}
							</a>
						</li>
					))
				}
				<ThemeToggle />
			</ul>
		</nav>
	</header>
</div>

<style>
	@keyframes scroll-shadow {
		from {
			box-shadow: none;
		}
		to {
			box-shadow: var(--divider-secondary) 0 1px;
		}
	}
	.sticky {
		position: sticky;
		top: 0;
		background: var(--background-primary);
		z-index: 1;
		padding: var(--spacing-02) 0;

		animation: scroll-shadow linear both;
		animation-timeline: scroll();
		animation-range: 0ex 5ex;
	}

	.main-header {
		display: flex;
		justify-items: center;
		align-items: center;
		gap: var(--spacing-04);
	}

	.logo {
		width: 40px;
		display: block;
		flex-shrink: 0;
		border-radius: var(--radius-01);
		margin-inline-end: auto;
	}

	.desktop-nav {
		.desktop-nav__menu {
			display: flex;
			align-items: center;
			gap: var(--spacing-03);
			list-style: none;
		}

		.desktop-nav__menu-link {
			padding: var(--spacing-02) var(--spacing-03);
			color: var(--text-primary);
			border-radius: var(--radius-03);
			font: normal var(--font-weight-06) var(--font-size-02) / var(--font-line-height-02)
				var(--font-sans);
			text-decoration: none;

			&:hover,
			&:focus-visible {
				background: var(--menu-link-background);
			}

			@media (prefers-reduced-motion: no-preference) {
				transition:
					background,
					outline-offset 150ms ease;
			}
		}

		@media (--mobile) {
			display: none;
		}
	}

	.mobile-nav {
		display: flex;
		align-items: center;

		.mobile-nav__menu {
			position: relative;
			z-index: 1;

			[data-icon] {
				width: 24px;
				height: 24px;
			}

			.mobile-nav__toggle {
				--size: 2rem;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				border-radius: var(--radius-02);
				width: var(--size);
				height: var(--size);

				&:hover,
				&:focus-visible {
					background: var(--menu-link-background);
				}

				@media (prefers-reduced-motion: no-preference) {
					transition:
						background,
						outline-offset 150ms ease;
				}
			}

			&[open] {
				.mobile-nav__icon--open {
					display: none;
				}

				.mobile-nav__icon--close {
					display: block;
				}
			}

			&:not([open]) {
				.mobile-nav__icon--open {
					display: block;
				}

				.mobile-nav__icon--close {
					display: none;
				}
			}

			.mobile-nav__menu-content {
				width: 16rem;
				position: absolute;
				background: var(--background-secondary);
				padding: var(--spacing-03);
				right: var(--spacing-01);
				top: var(--spacing-06);
				border-radius: var(--radius-05);
				border: 1px solid var(--divider-secondary);

				.mobile-nav__menu-list {
					list-style: none;
					margin: 0;
					padding: 0;
					display: flex;
					flex-flow: column;
					gap: var(--spacing-03);
				}

				.mobile-nav__menu-link {
					display: flex;
					justify-content: space-between;
					padding: var(--spacing-02) var(--spacing-03);
					color: var(--text-primary);
					border-radius: var(--radius-01);
					font: normal var(--font-weight-06) var(--font-size-02) / var(--font-line-height-02)
						var(--font-sans);
					text-decoration: none;

					&:hover,
					&:focus-visible {
						background: var(--menu-link-background);
					}

					@media (prefers-reduced-motion: no-preference) {
						transition:
							background,
							outline-offset 150ms ease;
					}
				}
			}
		}
		@media (--tablet) {
			display: none;
		}
	}
</style>
