---
import { menuLinks } from "@/site-config";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header id="main-header">
	<nav aria-label="Main menu" class="" id="navigation-menu">
		{
			menuLinks.map((link) => (
				<a
					class=""
					aria-current={url.pathname === link.path ? "page" : false}
					data-astro-prefetch
					href={link.path}
				>
					{link.title}
				</a>
			))
		}
	</nav>
	<ThemeToggle />
</header>
