---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="">About</h1>
	<div class="">
		<p>Hi</p>
	</div>
</PageLayout>
