---
import BaseLayout from "@/layouts/Base.astro";
---

<BaseLayout meta={{ title: "Home" }}>
	<section class="container stack">
		<h1 class="typography-display-01">No more containers!</h1>
		<p class="typography-supporting-01">
			It can be useful to have a system in place that's easy to go full-width, or have a "breakout"
			section for calls to action or blockquotes, or other things you want to call attention to.
		</p>
		<p class="breakout">
			Traditionally, we use a container or wrapper, which we need to close, and then open again, but
			thanks to grid, and with the recent additions of subgrid to all the evergreen browsers, maybe
			there's a better way to do things?
		</p>
		<!-- <h3>Images as full-bleed works too</h3> -->
		<!-- <img class="full-width" src="https://unsplash.it/1600/400" alt="" /> -->
		<section class="full-width stack">
			<h2>This section has a different background-color</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam voluptates vitae
				reiciendis corporis molestias aspernatur vero eaque obcaecati neque dolores veritatis
				repudiandae voluptas consectetur voluptatum nobis maiores doloremque, nostrum deleniti!
			</p>
			<p>
				Aspernatur, dignissimos. Quaerat corporis, itaque porro dolore ea a placeat molestiae nihil
				voluptatem veniam facere, corrupti in vel, voluptates enim soluta sint dolores? Quaerat
				laboriosam iusto voluptatem accusantium ex alias?
			</p>
		</section>
	</section>
</BaseLayout>
