<section class="hero container">
	<h1 class="hero__title">Alexandru Bereghici</h1>
	<p class="hero__description">Web developer</p>
</section>

<style>
	.hero {
		padding-block: var(--spacing-05);

		.hero__title {
			font: normal var(--font-weight-07) var(--font-size-09) / var(--font-line-height-01)
				var(--font-display);
			letter-spacing: var(--font-letterspacing-01);
		}

		.hero__description {
			font: normal var(--font-weight-04) var(--font-size-06) / var(--font-line-height-02)
				var(--font-sans);
			color: var(--text-secondary);
		}
	}
</style>
