---
import NavLink from "@/components/ui/NavLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="mb-6 flex items-center justify-between" transition:name="header">
  <nav class="-mx-2.5 flex items-center gap-4">
    <NavLink href="/">home</NavLink>
    <NavLink href="/posts">posts</NavLink>
  </nav>
  <ThemeToggle />
</header>
