---
import type { CollectionEntry } from "astro:content";

import Masthead from "@/components/blog/Masthead.astro";
import BaseLayout from "./Base.astro";

interface Props {
	post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const {
	data: { description, ogImage, publishDate, title, updatedDate },
} = post;
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString();
---

<BaseLayout meta={{ articleDate, description, ogImage, title }}>
	<article class="" data-pagefind-body>
		<div id="blog-hero"><Masthead content={post} /></div>
		<div class="">
			<slot />
		</div>
	</article>
</BaseLayout>
