---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"h2"> {}

const { class: className, ...rest } = Astro.props;
---

<h2 class={cn("my-4  text-lg font-medium", className)} {...rest}>
  <slot />
</h2>
