---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"table"> {}

const { class: className, ...rest } = Astro.props;
---

<table class={cn("custom-table", className)} {...rest}>
  <slot />
</table>

<style>
  @reference "@/styles/global.css";

  .custom-table {
    @apply w-full min-w-max overflow-x-scroll;

    thead {
      tr {
        @apply border-highlight-high border-b;
      }

      th {
        @apply text-left text-sm;
      }
    }

    tbody {
      tr {
        @apply bg-surface even:bg-muted/5 hover:bg-muted/10 h-10 transition;
      }

      th {
        @apply font-mono text-sm;
      }
    }
  }
</style>
